<h1>ブログ一覧</h1>
   
   <div class="container">
   <% @blogs.each do |blog| %>
     <div class="row">
        <div class="index_title">
          <%= blog.title %>
        </div>
       
        <div class="index_content">
          <%= blog.content %>
        </div>
      </div>
       
       <%= link_to '詳細確認',blog_path(blog.id), class: 'btn btn-info' %>
       
      <% if blog.user_id == current_user.id %>
       <%= link_to "編集する", edit_blog_path(blog.id) ,data: { confirm: '本当に編集していいですか？'}, class: 'btn btn-success'%>
       <%= link_to '削除する', blog_path(blog.id), method: :delete,data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-danger'%>
      <% end %>  
   <% end %>

<br><br>
<%= link_to '新しくブログを投稿する', new_blog_path, class: 'btn btn-default' %>
</div>